body {
	font-size: 14px;
	font-family: Arial;
}

h1, h2 {
  color: darkgreen;
}

p strong, p em {
  color: orange;
}

ul ul li {
  color: red;
}

form label, form legend {
  color: darkred;
}

.required {
  color: red;
}

#twitter {
  color: lightblue;
}

